
html, body
  padding 0
  margin 0
  font-family sans-serif

#game
  position relative
  width 640px
  height 480px
  border 4px solid black
  margin 0 auto
  canvas
    position absolute

.rr-interface
  position absolute
  width 640px
  height 480px
  background-image url(LegoRR0/Interface/RightPanel/CrystalSideBar.bmp)
  background-position right top
  background-repeat no-repeat
  .rr-interface-mf, .rr-interface-ore, .rr-interface-crystal
    position absolute
    width 24px
    font-size 8pt
    color white
    font-weight bold
    text-align center
    pointer-events none
    text-shadow 1px 1px 0 black
  .rr-interface-mf
    top 20px
    right 48px
    text-align left
  .rr-interface-ore
    right 26px
    bottom 0
  .rr-interface-crystal
    right 2px
    bottom 0
  .rr-interface-buttons
    position absolute
    top 8px
    right 16px
    width 40px
    height 454px
    padding-top 10px
    padding-right 19px
    padding-left 36px
    background-repeat no-repeat
    background-position right top
    &.rr-interface-buttons-1
      background-image url(LegoRR0/Interface/IconPanel/IconPanel1.bmp)
    &.rr-interface-buttons-2
      background-image url(LegoRR0/Interface/IconPanel/IconPanel2.bmp)
    &.rr-interface-buttons-3
      background-image url(LegoRR0/Interface/IconPanel/IconPanel3.bmp)
    &.rr-interface-buttons-3-woback
      background-image url(LegoRR0/Interface/IconPanel/IconPanel3WOBack.bmp)
    &.rr-interface-buttons-4
      background-image url(LegoRR0/Interface/IconPanel/IconPanel4.bmp)
    &.rr-interface-buttons-4-woback
      background-image url(LegoRR0/Interface/IconPanel/IconPanel4WOBack.bmp)
    &.rr-interface-buttons-5
      background-image url(LegoRR0/Interface/IconPanel/IconPanel5.bmp)
    &.rr-interface-buttons-6
      background-image url(LegoRR0/Interface/IconPanel/IconPanel6.bmp)
    &.rr-interface-buttons-7
      background-image url(LegoRR0/Interface/IconPanel/IconPanel7.bmp)
    &.rr-interface-buttons-8
      background-image url(LegoRR0/Interface/IconPanel/IconPanel8.bmp)
    &.rr-interface-buttons-9
      background-image url(LegoRR0/Interface/IconPanel/IconPanel9.bmp)
    &.rr-interface-buttons-10
      background-image url(LegoRR0/Interface/IconPanel/IconPanel10.bmp)
    &.rr-interface-buttons-11
      background-image url(LegoRR0/Interface/IconPanel/IconPanel11.bmp)
  .rr-interface-button
    width 40px
    height 40px
  .rr-btn-main-menu
    position absolute
    top 14px
    left 4px
    width 27px
    height 28px
    &:hover
      background-image url(LegoRR0/Interface/IconPanel/Back_HL.bmp)
    &:active
      background-image url(LegoRR0/Interface/IconPanel/Back_PR.bmp)
  .rr-btn-clear-rubble
    background-image url(LegoRR0/Interface/Menus/ClearRubble.bmp)
  .rr-btn-build-path
    background-image url(LegoRR0/Interface/Menus/buildpath.bmp)
  .rr-btn-drill-wall
    background-image url(LegoRR0/Interface/Menus/drill.bmp)
  .rr-btn-teleport-pilot
    background-image url(LegoRR0/Interface/Icons/minifigures.bmp)
  .rr-btn-menu-building
    background-image url(LegoRR0/Interface/Menus/building.bmp)
  .rr-btn-menu-small-vehicle
    background-image url(LegoRR0/Interface/Menus/SMvehicle.bmp)
  .rr-btn-menu-big-vehicle
    background-image url(LegoRR0/Interface/Menus/BIGvehicle.bmp)
  .rr-btn-pickup-object
    background-image url(LegoRR0/Interface/Menus/MF_Pickup.bmp)
  .rr-btn-drop-object
    background-image url(LegoRR0/Interface/Menus/UnloadMinifigure.bmp)
